<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoSecurity.apiTest.mappers.DetailProductMapper">
    <select id="getDetailProduct" resultType="ProductModel">
        SELECT A.product_id productId,
        A.name name,
        A.price price,
        A."desc" desc,
        B.addr addr,
        A.details details,
        A.cate_cd cateCd,
        A.cre_dt creDt,
        A.updt_dt updDt,
        A.user_lg userId,
        'product-photos/' || A.image image,
        B.shop_id shopId,
        'product-photos/' || B.image imageShop,
        B.desc descShop,
        B.shop_nm shopNm,
        B.phone phone
        FROM public.products A, public."usersShop" B
        WHERE A.user_lg = B.email
        AND product_id = #{productId}
    </select>
    <select id="getLsImages" resultType="String">
        SELECT
        'product-photos/' || image_url image
        FROM public.images
        WHERE product_id = #{productId}
    </select>
    <select id="getRelatedProduct" resultType="ProductModel">
        SELECT a.product_id productId,
        a.name name,
        a.price price,
        a."desc" desc,
        b.addr addr,
        a.details details,
        a.cate_cd cateCd,
        a.cre_dt creDt,
        a.updt_dt updDt,
        a.user_lg userId,
        'product-photos/' || a.image image
        FROM public.products a left join public."usersShop" b
        on a.user_lg = b.email
        WHERE a.cate_cd = #{cateCd}
        ORDER BY a.cre_dt DESC
        FETCH FIRST 10 ROW ONLY
    </select>
</mapper>
