<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoSecurity.apiTest.mappers.HomeProductMapper">
    <select id="getNewestProduct"  resultType="ProductModel">
        SELECT a.product_id productId,
        a.name name,
        a.price price,
        a."desc" desc,
        b.addr addr,
        a.details details,
        a.cate_cd cateCd,
        a.cre_dt creDt,
        a.updt_dt updDt,
        a.user_lg userId,
        'product-photos/' || a.image image
        FROM public.products a left join public."usersShop" b
        on a.user_lg = b.email
        ORDER BY cre_dt DESC
        LIMIT 10
    </select>

    <select id="getAllCategory"  resultType="CateModel">
        SELECT
        cate_name cateNm,
        cate_url url,
        cate_cd cateCd
        FROM public.categories
    </select>
</mapper>
