<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoSecurity.Auth.mappers.LoginMapper">

    <select id="getUserLogin" resultType="loginModel">
        SELECT
        shop_id id,
        'product-photos/' || image image,
        "desc" desc,
        shop_nm shopNm,
        crt_dt crtDt,
        email,
        pwd,
        usr_nm usrNm
        FROM public."usersShop"
        WHERE email = #{email} and active = true
    </select>
    <insert id="insertUserShop">
        INSERT INTO public."usersShop"(
        image, "desc", shop_nm, email, pwd, usr_nm, addr, phone, user_uuid)
        VALUES ( #{img}, #{desc}, #{shopNm}, #{email}, #{pwd}, null, #{addr}, #{phone}, #{usrUuid})
    </insert>

    <insert id="activeUser">
        UPDATE  public."usersShop" SET active = true Where user_uuid = #{uuid}
    </insert>

    <select id="checkAccountExist" resultType="int">
        SELECT COUNT(*) FROM public."usersShop" WHERE email = #{email} and active = true
    </select>
</mapper>
