<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoSecurity.Auth.mappers.LoginMapper">

    <select id="getUserLogin" resultType="loginModel">
        SELECT
        shop_id id,
        'product-photos/' || image image,
        "desc" desc,
        shop_nm shopNm,
        crt_dt crtDt,
        email,
        pwd,
        usr_nm usrNm
        FROM public."usersShop"
        WHERE email = #{email}
    </select>
    <insert id="insertUserShop">
        INSERT INTO public."usersShop"(
        image, "desc", shop_nm, email, pwd, usr_nm, addr, phone)
        VALUES ( #{img}, #{desc}, #{shopNm}, #{email}, #{pwd}, '123', #{addr}, #{phone});
    </insert>
</mapper>
