<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoSecurity.apiTest.mappers.ShowAllProductMapper">
   <select id="getAllProductViaCategory"  resultType="ProductModel">
       SELECT product_id productId,
       name name,
       price price,
       "desc" desc,
       addr addr,
       details details,
       cate_cd cateCd,
       cre_dt creDt,
       updt_dt updDt,
       user_id userId,
       'http://localhost:8091/product-photos/' || image image,
       is_publish isPublish
       FROM public.products
       WHERE cate_cd = #{cateCd}
       <if test="edit != 0">
           AND is_publish = true
       </if>
       ORDER BY updt_dt DESC
       OFFSET #{page} ROWS
       FETCH FIRST 10 ROW ONLY
   </select>

    <select id="getAllProductViaUser"  resultType="ProductModel">
        SELECT product_id productId,
        name name,
        price price,
        "desc" desc,
        addr addr,
        details details,
        cate_cd cateCd,
        cre_dt creDt,
        updt_dt updDt,
        user_id userId,
        'http://localhost:8091/product-photos/' || image image,
        is_publish isPublish
        FROM public.products
        WHERE user_id = #{userId}
        <if test="edit != 0">
            AND is_publish = true
        </if>
        ORDER BY updt_dt DESC
        OFFSET #{page} ROWS
        FETCH FIRST 10 ROW ONLY
    </select>

<!--    <select id="getAllProductViaUser"  resultType="ProductModel">-->
<!--        SELECT product_id productId,-->
<!--        name name,-->
<!--        price price,-->
<!--        "desc" desc,-->
<!--        addr addr,-->
<!--        details details,-->
<!--        cate_cd cateCd,-->
<!--        cre_dt creDt,-->
<!--        updt_dt updDt,-->
<!--        user_id userId,-->
<!--        'http://localhost:8091/product-photos/' || image image,-->
<!--        is_publish isPublish-->
<!--        FROM public.products-->
<!--        WHERE user_id = #{userId}-->
<!--        <if test="edit == 0">-->
<!--        AND is_publish = true-->
<!--        </if>-->

<!--        ORDER BY updt_dt DESC-->
<!--        OFFSET #{page} ROWS-->
<!--        FETCH FIRST 10 ROW ONLY-->
<!--    </select>-->

    <select id="getDetailUser"  resultType="ShopModel">
        SELECT shop_id userId,
        image img,
        "desc" desc,
        shop_nm shopNm
        FROM public."usersShop"
        WHERE shop_id = 1
    </select>

    <select id="countTotalProductCate"  resultType="int">
        SELECT count(product_id)
        FROM public.products
        WHERE 1 = 1
        AND cate_cd = #{cateCd}
        <if test="edit != 0">
            AND is_publish = true
        </if>
    </select>

    <select id="countTotalProductUser"  resultType="int">
        SELECT count(product_id)
        FROM public.products
        WHERE 1 = 1
        AND user_id = #{userId}
        <if test="edit != 0">
            AND is_publish = true
        </if>
    </select>
</mapper>
